.button-toggle {
  background-color: transparent;
  border: 0;
}

.hamburger-container {
  display: inline-block;
  cursor: pointer;
}

.navbar {
  background-color: #232323;
  max-height: 56px;
}

.nav-item > a,
.dropdown-item > a {
  color: #e2a66e;
}

.dropdown-item:hover {
  background-color: transparent;
}

.nav-item > a:hover,
.dropdown-item > a:hover {
  text-decoration: none;
  color: #e7c7a9;
}

.dropdown-item {
  padding: 0 1.5rem;
}

.dropdown-container {
  background-color: #4d4d4d;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #e2a66e;
  margin: 4px 0;
  transition: 0.4s;
}
